/*
 Knight Bootstrap theme by BootstrapTaste.com LavePortfolio theme by Lavender Nova Solano
 Theme URI: https://creactivo.github.io/lavender-nova/
 Author: Lavender Nova
 Author URI: https://creactivo.github.io/lavender-nova/
 */
 
/*variables*/

/* CSS Document */

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}
.progress{
    height: 5px !important;
}
.bg-violet{
    background-color: violet;
}
.bg-orangedark{
    background-color: #F77B17;
}
.bg-blueph{
    background-color: #31A7FE;
}
.bg-html5{
    background-color: #E96228;
}
.bg-boot{
    background-color: #7952B3;
}

.figure{ margin:0px;}

.p-6{
   padding: 7rem; 
}
.py-6{
   padding-top: 7rem; 
   padding-bottom: 7rem; 
}
.pt-6{
   padding-top: 7rem; 
}
.pb-6{
   padding-bottom: 7rem; 
}
.px-6{
   padding-left: 7rem; 
   padding-right: 7rem; 
}
.pr-6{ 
   padding-right: 7rem; 
}
.pl-6{
   padding-left: 7rem;  
}
img{ max-width:100%;}

a, a:hover, a:active{ outline:0px !important}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.progress__bar--animation{
    width: 60%;
    background-color: cornflowerblue;
    animation: progress__bar--animation 2s ease-in-out;
}
@keyframes progress__bar--animation{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }   
}


/* Primary Styles
---------------------------------*/
body {
    background:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    font-weight:normal;
    color:#888888;
    margin:0;
}
h2{
    font-size:34px;
    color:#222222;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    letter-spacing: -1px;
    margin:0 0 15px 0;
    text-align:center;
    text-transform:uppercase;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#222222;
    font-size:16px;
    margin:0 0 5px 0;
    text-transform:uppercase;
    font-weight:400;
}
h6{
    font-size:16px;
    color:#888888;
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    text-align:center;
    margin:0 0 60px 0;
}
p{
    line-height:24px;
    margin:0;
}

/* Header Styles
---------------------------------*/

.header{
    text-align: center;
    background: url(../img/hero-background.jpg) center center repeat;
    background-size: cover;
    padding: 90px 0;
    background-repeat: no-repeat;
    height: calc(100vh - 85px);
}
.logo{
    width:130px;
    margin:0 auto 35px;
}
.header h1{
    font-family: 'Montserrat',sans-serif;
    font-size:50px;
    font-weight:400;
    letter-spacing: -1px;
    margin:0 0 22px 0 ;
    color:#fff;
    text-shadow: 1px 1px 1px #2d6f7f;
}

.we-create{
    padding:0;
    margin:35px 0 55px;
}
.wp-pic{
    margin-bottom:20px;
}
.we-create li{
    display:inline-block;
    font-family: 'Montserrat',sans-serif;
    font-size:14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin:0 5px 0 0;
    padding:0 0 0 15px;
    text-shadow: 1px 1px 1px #2d6f7f;
}
.we-create li:first-child{
    background:none;
}
.start-button {
    padding-left: 0px;
}

.start-button li a{
color: #fff;
}
.link{
    padding:15px 35px;
    background:#FF224C;
    color:#fff !important;
    font-size:16px;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
    display:inline-block;
    border-radius:3px;
    text-transform:uppercase;
    line-height:25px;
    margin-bottom:20px;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}
.link:hover {
    text-decoration:none;
    color:#FF224C !important;
    background:#fff;
}

.link:active, .link:focus {
    background: #BF1A39;
    text-decoration:none;
    color:#fff !important;
}

/* Navigation
---------------------------------*/
.sticky-top {
    top: -1px;
}
.menu-center{
    margin: 0 auto;
}
.navbar-light .navbar-toggler{
    display: block;
    margin: 0 auto;
}
.main-nav-outer{
    border-bottom:1px solid #dddddd;
    box-shadow:0 4px 5px -3px #ececec;
}
.navbar-nav{
    text-align:center;
    margin:0;
    padding:0;
    list-style:none;
}
.navbar-nav .nav-item{
    display:inline;
    margin:0 1px;
    width: 170px;
}
.navbar-nav .nav-item .nav-link{
    display:inline-block;
    color:#222222;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    line-height:20px;
    margin:17px 32px;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

.main-nav li a:hover{ 
    text-decoration:none;
    color: #16b6bf;
}

.small-logo{ 
    padding:0 32px;
}

/*----------------------------------------*/
/*  #  Home page 2portfolio-two-wrapper
/*----------------------------------------*/
.custom-container {
    width: 95%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.portfolio-two-wrapper {
    /*padding-bottom: calc(2.5% + 10px);*/
    background: url(../img/circle-b.png) no-repeat center right, url(../img/circle.png) no-repeat left top 10%, #fff;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    padding-top: 50px;
}

.single-portfolio-2 img {
    width: 100%;
    transition: all .6s;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.single-portfolio-2:hover img {
    transform: scale(1.3);
    transition: all .6s;
    -webkit-filter: grayscale(0);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
}

.single-portfolio-2 {
    width: 33%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 10px;
}

.portfolio-item-wrapper.style-two {
    margin-left: -10px;
    margin-right: -10px;
}


.single-portfolio-2 .single-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 96px;
    z-index: 0;
    background: #fff;
    top: auto;
    right: 0;
    opacity: 0;
    transition: all .3s;
    bottom: 0;
    z-index: 1;
    transition: all .5s;
}

.single-portfolio-2:hover .single-inner::before {
    opacity: .9;
    transition: all .5s;
}

.single-portfolio-2 .portfolio-hover-2 {
   color: #000;
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    z-index: 2;
    width: 100%;
    height: auto;
    text-align: center;
}

.single-portfolio-2 .portfolio-hover-2 h3 {
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
    letter-spacing: 9px;
    opacity: 0;
    transition: all .4s;
    text-transform: capitalize;
}

.single-portfolio-2:hover .portfolio-hover-2 h3 {
    letter-spacing: 2px;
    opacity: 1;
    transition: all .6s;
}

.single-portfolio-2 .portfolio-hover-2 h6 {
    font-size: 11px;
    letter-spacing: 2.6px;
    font-family: 'Open Sans', sans-serif;
    transform: translateX(70px);
    transition: all .4s;
    opacity: 0;
    text-transform: uppercase;
        margin-bottom: 1.5rem;
}

.single-portfolio-2:hover .portfolio-hover-2 h6 {
    transform: translateX(0);
    transition: all .5s;
    opacity: 1;
}

/* About Component Start Movil
---------------------------------*/
.about-section-style-2 {
    background: url(../img/circle-part-2b.png) no-repeat right bottom;
    overflow: hidden;
}
.about-section-img {
  background-image: url('../img/about-us.png');
  background-size: contain;
  background-repeat: no-repeat;
  position: static;
  display: block;
  min-height: 500px;
  min-width: 100%;
}

/*modulo en prueba */
.vw-50 {
  width: 50vw!important;
}
.pb-8, .py-8 {
  padding-bottom: 3rem!important;
}
.pt-8, .py-8 {
  padding-top: 3rem!important;
}
.h-100 {
  height: 100%!important;
}
.shape:not([class*=shape-blur]) {
  overflow: hidden;
}
.shape-left {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.shape {
  position: absolute;
  pointer-events: none;
}
.shape:not([class*=shape-blur])>* {
  -webkit-transform: scale(2);
  transform: scale(2);
}
.shape-fluid-y>* {
  width: auto;
  height: 100%;
}
.shape-left>* {
  position: inherit;
  top: inherit;
  bottom: inherit;
  left: inherit;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}
.shape>* {
  display: block;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
/*modulo en prueba end*/

/* Services
---------------------------------*/
.service-section{
    background: url(../img/circle-part-1.png) no-repeat bottom left, url(../img/circle-part-1b.png) no-repeat right top aliceblue;
}
.service-list{
    padding:0 0 0 0;
    font-size:14px;
    margin-bottom:20px;
}
.nuevo-service-list{
    margin-bottom:40px;
}
.service-list-col1{
    float:left;
    width:60px;
}
.service-list-col1 i{
    display: block;
    line-height: 38px;
    /*font-family: 'FontAwesome';*/
    font-size: 20px;
    color: #007bff;
    font-style: normal;
    height: 3rem;
    width: 3rem;
    background-color: #ffffff;
    border-radius: 50px;
    text-align: center;
    padding-top: .3rem;
    box-shadow: 1px 1px 6px #ccd9ff;
}
.service-list-col2{
    overflow:hidden;    
}
.icon-software{
    color: gray;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 22px !important;
}
/* skills*/
.progress{
    height:  10px;
}
.progress-bar{
    background-color: gray;
}

/* Featured Work
---------------------------------*/
.featured-work{
    font-size:14px;
}
.featured-work h2{
    text-align:left;
}
.featured-box{
    padding:0 0 0 0;
    margin-bottom:25px;
    font-size:14px;
}
.featured-box h3{
    margin-bottom:5px;
}
.featured-box p{
    line-height:22px;
}
.featured-work p.padding-b{
    padding-bottom:35px;
}
.featured-box-col1{
    width:60px;
    float:left;
}
.featured-box-col1 i{
    display: block;
    line-height: 38px;
    font-family: 'FontAwesome';
    font-size: 20px;
    color: #007bff;
    font-style: normal;
    height: 3rem;
    width: 3rem;
    background-color: #ffffff;
    border-radius: 50px;
    text-align: center;
    padding-top: .3rem;
    box-shadow: 1px 1px 6px #ccd9ff;
}
.featured-box-col2{ overflow:hidden;}
.featured-box.magic{
    background:url(../img/magic.png) left top no-repeat;
}
.featured-box.packaged{
    background:url(../img/packaged.png) left top no-repeat;
}
.featured-box.seo{
    background:url(../img/seo.png) left top no-repeat;
}
.Learn-More{
    display:inline-block;
    padding:0 5px 0 0;
    color:#7cc576;
    font-size:16px;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    line-height:24px;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    display: none;
}
.Learn-More i{ 
    padding-right:15px;
}
.Learn-More:hover, .Learn-More:focus{ 
    text-decoration:none;
    color: #111;
}
/* Better-skills
---------------------------------*/
.skills-section{
    background: url(../img/circle-part-2.png) no-repeat top left;
}
/* Portfolio
---------------------------------*/
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 18px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
.modal-xl {
    max-width: 100%;
    margin: 0;
}
/*.modal-body h3{
    font-weight: 700;
}*/
.modal-body h4{
    color:#616161;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    margin:0 0 5px 0;
    text-transform:uppercase;
    font-weight:700;
}
.modal-body p{
    color:#616161;
    font-size:16px;
}
.portfolio-modal{
  padding-right: 0 !important;
}
::-moz-selection {
  text-shadow: none;
  background: #0DD8EF;
}
::selection {
  text-shadow: none;
  background: #0DD8EF;
}

.Portfolio-nav{
    padding:0;
    margin:0 0 45px 0;
    list-style:none;
    text-align:center;
}
.Portfolio-nav li{
    margin:0 10px;
    display:inline;
}
.Portfolio-nav li a{
    display:inline-block;
    padding:10px 22px;
    font-size:12px;
    line-height:20px;
    color:#222222;
    border-radius:4px;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    background:#f7f7f7;
    margin-bottom:5px;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}
.Portfolio-nav li a:hover{
    background:#ff4661;
    color:#fff;
    text-decoration:none;
}

.portfolioContainer{
    width: 95%;
    margin:0 auto;
    padding-left:15px;
}

.Portfolio-box{
    text-align:center;
    margin-bottom:30px;
    height:350px;
    width:350px;
    overflow:hidden;
    float:left;
    padding:0;
}
.Portfolio-box img{
    margin-bottom:25px;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;    
}

.Portfolio-box img:hover {
    opacity: 0.6;
}

.Portfolio-nav li a.current{
    background:#FF224C;
    color:#fff;
    text-decoration:none;
}
img {
   max-width:100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
    padding-bottom:60px;
}

/* Clients
---------------------------------*/
.client-part{
    background:url(../img/section-bg1.jpg) center center no-repeat;
    background-size:cover;
    padding:55px 0;
    text-align:center;
}
.client-part-haead{
    color:#fdfdfd;
    font-size:28px;
    line-height:41px;
    margin:30px 0 10px;
    font-family: ''Open Sans',sans-serif';
    font-style: italic;
}
.client{
    padding:0;
    margin:20px 0 0;
    list-style:none;
    text-align:center;
}
.client li{
    display:inline;
    margin:0 15px;
}
.client li a{
    display:inline-block;
}
.client li a img{
    margin-bottom:15px;
    border-radius:50%;
}
.client li a:hover{
    text-decoration:none;
}
.client li a h3{
    color:#ffffff;
}
.client li a span{
    color:#f1f1f1;
}
.quote-right{
    font-style:normal;
    width:68px;
    height:68px;
    margin:0 auto;
    border:2px solid #00C9D4;
    border-radius:50%;
    display:block;
    line-height:68px;
    text-align:center;
    font-size:27px;
    color:#00C9D4;
    cursor: pointer;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

.quote-right:hover{
color: #fff;
border: 2px solid #fff;
}

.c-logo-part{
    background:#00C9D4;
    padding:25px 0;
    filter: alpha(opacity=60);
}
.c-logo-part ul{
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
}
.c-logo-part ul li{
    display:inline;
    margin:0 25px;
}
.c-logo-part ul a{
    display:inline-block;
    margin: 0 20px;
}
.main-section.team{
    padding:85px 0;
}
.main-section.team h6{
    margin-bottom:40px;
}


/* Talk Business
---------------------------------*/
.business-talking{
    background:url(../img/section-bg2.jpg) top center no-repeat;
    background-size:cover;
    padding:60px 0 10px;
    text-align:center;
}
.business-talking h2{
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    padding:0;
    margin:20px 0 70px;
    text-transform:uppercase;
    font-size:42px;
    color:#fff;
}


/* Contact
---------------------------------*/
.main-section.contact{
    padding:90px 0 100px;
}

.main-section.contact{
    background:url(../img/bg-map.png) center center no-repeat;
}
.contact-info-box{
    text-align: center;
    font-size:15px;
    margin:0 0 14px 68px;
    padding-left:0;
}
.contact-info-box h3{
    font-size: 15px;
    font-weight:400;
    line-height:28px;
}
.contact-info-box h3 i{
    font-style:normal;
    font-size:18px;
    color:#222222;
    font-family: 'FontAwesome';
    font-weight:normal;
    margin-right:7px;
}
.social-link{
    padding:35px 0;
    display:block;
    overflow:hidden;
    list-style:none;
}
.social-link li{
    display: inline-block;
    margin-left:4px;
    margin-right:4px;
}
.social-link li a{
    display:block;
    width:50px;
    height:50px;
    text-align:center;
    line-height:50px;
    font-size:25px;
    color:#fff;
    background:#222222;
    border-radius:50%;
    transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
    text-decoration:none;
}
.twitter a:hover {
    background: #55acee;
}
.facebook a:hover {
    background: #3b5998;
}
.pinterest a:hover {
    background: #cb2026;
}
.dribbble a:hover {
    background: #ea4c89;
}
.behance a:hover {
    background: #053EFF;
}
.input-text{
    padding:15px 16px;
    border:1px solid #ccc;
    width:100%;
    height:50px;
    display:block;
    border-radius:4px;
    font-size:15px;
    color:#aaa;
    font-family: 'Open Sans', sans-serif;
    margin:0 0 15px 0;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
    border: 1px solid #7cc576;
    outline:0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);    
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
    height:165px;
    resize:none;
    overflow:auto;
}
.input-btn{
    width:175px;
    height:50px;
    background:#ED2047;
    border-radius:4px;
    color:#ffffff;
    font-size:14px;
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    border:0px;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

.input-btn:hover{
    background: #ff4661;
    color: #fff;
}

/* Footer
---------------------------------*/

.footer{
    background:url(../img/hero-background.jpg) left top repeat;
    background-size: cover;
    padding:35px 0 35px;
}
.footer-logo{
    margin:15px auto 35px;
    width: 76px;
}
.copyright{
    color:#f8f9fa;
    font-size:14px;
    display:block;
    text-align:center;
}
.copyright a{
    color:#f1125a;
    font-weight:600;
    text-decoration: none;
    transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
}

.copyright a:hover {
    color: #2d6f7f;
}


/* Animation Timers
---------------------------------*/
.delay-02s { 
    animation-delay: 0.2s; 
    -webkit-animation-delay: 0.2s; 
}
.delay-03s { 
    animation-delay: 0.3s; 
    -webkit-animation-delay: 0.3s; 
}
.delay-04s { 
    animation-delay: 0.4s; 
    -webkit-animation-delay: 0.4s; 
}

.delay-05s { 
    animation-delay: 0.5s; 
    -webkit-animation-delay: 0.5s; 
}
.delay-06s { 
    animation-delay: 0.6s; 
    -webkit-animation-delay: 0.6s; 
}

.delay-07s { 
    animation-delay: 0.7s; 
    -webkit-animation-delay: 0.7s; 
}
.delay-08s { 
    animation-delay: 0.8s; 
    -webkit-animation-delay: 0.8s; 
}

.delay-09s { 
    animation-delay: 0.9s; 
    -webkit-animation-delay: 0.9s; 
}
.delay-1s { 
    animation-delay: 1s; 
    -webkit-animation-delay: 1s; 
}
.delay-12s { 
    animation-delay: 1.2s; 
    -webkit-animation-delay: 1.2s; 
}

@media (max-width: 575px) and (min-width: 320px){
    .single-portfolio-2 {
        width: 100%;
    }
}
@media (min-width: 768px){

    /* About Component Start 768
    --------------------------------------*/

  .about-section-img{
    background-image: url(../img/about-us.png);
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;
    background-position: left center;
    display: block;
    height: 99vh;
    width: 50vw;
  }
  .about-section__title{
    text-align: left;
  }
    /* Service Component Start 768
    --------------------------------------*/
  .service-section-img{
    background-image: url('../img/services.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
    display: block;
    height: 100vh;
    width: 50vw;
    float: right;
  }

}
@media (min-width: 960px){
    .navbar-light .navbar-toggler{
        display: none;
        margin: 0 auto;
    }
    
}